.DS_Store

# Xcode user state
*.xcuserstate
xcuserdata/

# Build products
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/
